$ const i18n = out.stream.req.t;

<include('../../common/layout.marko') page-title=i18n('double-booked:title')>

  <@content>
    <a href="/booking/${data.booking.id}" class="link-back"><i18n-message key="double-booked:links.back"/></a>
    <h1.heading-xlarge>
      <i18n-message key="double-booked:h1"/>
    </h1>

    <p class="text">
      <i18n-message key="double-booked:p"/>
    </p>
  </@content>

</include>
