<include("../../common/layout.marko") page-title="Sign in" ga-page=data.gaPage>

  <@content>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Email not authorised</h1>

        <p>
          Looks like your email address isn’t on the list of administrators. 
          Contact the hub team if you think this is a mistake.
        </p>
      </div>
    </div>
  </@content>

</include>
