$ const i18n = out.stream.req.t;

<include("../../common/layout.marko") page-title=i18n('not-authorised:title') ga-page=data.gaPage>

  <@content>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge"><i18n-message key="not-authorised:h1"/></h1>

        <p>
          <i18n-message key="not-authorised:p"/>
        </p>
      </div>
    </div>
  </@content>

</include>
