<include("../../common/layout.marko") page-title="Sign in" ga-page=data.gaPage>

  <@content>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Find a booking</h1>

        <bsp-search-box 
          name="search"
          label="Search by name or description"
          button-text="Search"
        />
      </div>
    </div>
  </@content>

</include>
