$ const i18n = out.stream.req.t;

<include("../../common/layout.marko") page-title="${i18n('check-your-email:title')}" ga-page=data.gaPage>

  <@content>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge"><i18n-message key="check-your-email:h1"/></h1>

        <p>
          <i18n-message key="check-your-email:p"/>
        </p>
      </div>
    </div>
  </@content>

</include>
