<include("../../common/layout.marko") page-title="Sign in" ga-page=data.gaPage>

  <@content>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Check your email</h1>

        <p>
          A magic link has been sent to your email address, click it to access 
          the admin panel. The link will only work for the next 20 minutes.
        </p>
      </div>
    </div>
  </@content>

</include>
